[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-restful = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
faker = "*"
python-dotenv = "*"
flask-cors = "*"
flask-bcrypt = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.8"
